<hr>
<footer>
  <p><em>Copywrong OU 2022</em></p>
  <ul class="mt-5">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Top 100 video game sales", games_path %></li>
    <li><%= link_to "Top video game publishers", publishers_path %></li>
    <li><%= link_to "Most popular game platforms", platforms_path %></li>

    <% mes_pages.each do |page| %>
      <li><%= link_to page.title, permalink_path(page.permalink) %></li>
     <% end %>
  </ul>
</footer>